
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled files
/dist/
/.sass-cache/
/node_modules/
.nuxt/



# Local development environment
/.env.local
/.env.*.local


.nuxt/index.js
.nuxt/router.js
.nuxt/routes.json
